<<<<<<< HEAD
/* RadarChart.css */
.radar-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* 배경색 */
    margin: 0; /* 중앙 정렬 */
    padding: 0 auto;
}

.radar-chart-container canvas {
    margin: auto; /* 중앙 정렬 */
}
=======
/* 종원님 기록창 css 입니다 */

.container {
    width: 300px;
    height: 300px;
}
>>>>>>> ab50fbf6b2b5a4cc6e5019b574da65de0f2c9791
