* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#introduce-page3 {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}

#introduce-page4 {
    width: 100%;
    height: 100vh;
    background-color: lightgreen;
}