#introduce-page4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: #A9ADC4;
}

#page4-title {
    color: #1A1D2C;
    font-size: 50px;
}

.content4 {
    flex: 1;
    margin-right: 100px;
}

.page4-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.page4-description {
    font-size: 18px;
    color: #3A3F57;
}

.logoimage2 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logoimage2 img{
    border-radius: 30px;
}

.learn-more-button3 {
    width: 150px;
    height: 50px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3A3F57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.learn-more-button3 p{
    margin-top: 3px;
    user-select: none;
}

.learn-more-button3:hover {
    background-color: #6C718A;
}

/* 슬라이드 애니메이션 */
.slide-up {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out; /* 부드러운 애니메이션 */
}

.slide-up.visible {
    opacity: 1;
    transform: translateY(0); /* 최종 위치 */
}

.page4-title {
    transition-delay: 0s; /* logoimage2와 page4-title은 동시에 애니메이션 */
}

.page4-description {
    transition-delay: 0.2s; /* 1초 후에 page4-description이 애니메이션 시작 */
}

.learn-more-button3 {
    transition-delay: 0.3s;
}