#introduce-page4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: white;
}

#page4-title {
    color: black;
    font-size: 50px;
}

.content4 {
    flex: 1;
    margin-right: 100px;
}

.page4-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.page4-description {
    font-size: 18px;
}

.logoimage2 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.learn-more-button3 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.learn-more-button3:hover {
    background-color: #218838;
}

/* 슬라이드 애니메이션 */
.slide-up {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out; /* 부드러운 애니메이션 */
}

.slide-up.visible {
    opacity: 1;
    transform: translateY(0); /* 최종 위치 */
}

.page4-title {
    transition-delay: 0s; /* logoimage2와 page4-title은 동시에 애니메이션 */
}

.logoimage2 {
    transition-delay: 0.1s;
}

.page4-description {
    transition-delay: 0.3s; /* 1초 후에 page4-description이 애니메이션 시작 */
}

.learn-more-button3 {
    transition-delay: 0.4s;
}