.footer {
    position: absolute;
    width: 100%;
    height: 30vh;
    background-color: #222;
}

.font-form {
    color: #B3AFAF;
    font-size: 15px;
    margin-left: 130px;
    margin-top: 30px;
}

.font-form2 {
    margin-left: 130px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.nav-item {
    color: #A09A9A;
    text-decoration: none;
}

#highlight {
    font-weight: bold;
    font-size: 20px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items .nav-item {
    margin-right: 20px;
}

.social-icons {
    display: flex;
}

.social-icon {
    margin-left: 20px;
}

.footer a /* Nav-link */{ 
    color: #A09A9A;
    text-decoration: none;
    font-size: 20px;
}

.footer a:hover /* Nav-link:hover */{
    color: white;
}

.social-icons:hover {
    color: white;
}
