.header {
    background-color: black;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* 헤더 부분을 스크롤을 내려도 고정 */
    z-index: 9999; /* 헤더 부분이 화면에서 맨 위에 위치하도록 설정 */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    position: flex;
    justify-content: space-between;
}

.side-navlink{
    font-size: 1.4rem;  /* 글자 크기 */
    padding: 15px; /* 글자간의 간격 */
    color: #A09A9A; /* 글자 색상 */
    text-decoration: none;
}

.side-navlink:hover {
    color: white !important;
}