.aiContainer {

    background-color: #121212;  
    margin-top: 70px;
    height: 790px;
}

.aiback {
    padding-top: 10%;
    margin: 0 auto !important;
    display: flex !important;
    justify-content:space-around !important;   
}

.cardImg{
    height: 40% !important;
    object-fit: cover !important;
    width: 100% !important;
    border-radius: 15px !important;
    opacity: 0.8 !important;
    border: 1px solid #272727;
}

.aicard{
    height: 450px !important;
    width: 20rem !important;
    border-radius: 15px !important;
    background-color: #272727 !important;
    padding: 0 !important;
    color: #FFFFFF !important;
    border: 1px solid #121212;
    cursor: pointer;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;

    overflow: hidden !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

.aicard:hover {
    transform: scale(1.08) !important;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2) !important;
}

.aiCard_Title {
    font-size: 25px !important;
    text-align: center !important;
    font-weight: bold !important;
    padding-top: 15px !important;
}

.aiCard_Txt {
    font-size: 18px !important;
    text-align: center !important;
    color: #B0B0B0 !important;
    align-items: center !important;
    height: 5% !important;
    padding-top: 15px !important;
}

.help_btn {
    background-color: #1E1E1E !important;
    border: #1E1E1E !important;
    border-radius: 10px !important;
    color: white !important;
    height: 35px !important;
    width: 100% !important;
    text-align: center !important;
    font-weight: bold !important;
    margin-top: 30px !important;
}

.help_btn:hover {
    background-color:#9E6DF2 !important;
}

.youtube_icon {
    color: red !important;
    font-size: 35px !important;
    padding-top: 15px !important;
    padding-right: 5px !important;
    
}

.insta_icon {
    color: rgb(187, 55, 158) !important;
    font-size: 35px !important;
    padding-top: 15px !important;
}