* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DetailPage.js */
/* detailpage 전체 컨테이너 */
.mn-container {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* 코스이름 */
.mn-container .page-title {
    width: 80%;
    margin: 0 auto;
    height: 150px;
    color: white;
    font-size: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.mn-container .page-title h1{
    &.easy {
        background: linear-gradient(to top left, #feffc6, #d8db32);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.normal {
        background: linear-gradient(to top left, #c0ccff, #3251db);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.hard {
        background: linear-gradient(to top left, #ffb5b5, #ff3434);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.mn-container .contentWrap {
    max-width: 95%;
    display: flex;
    justify-content: space-around;
}

/* 운동컴포넌트 컨테이너 */
.mn-container .contentWrap .contContainer {
    width: 100%;
    margin: 35px;
    color: white;
    text-align: center;
    background-color: #59595933;
    border: 1px solid #2e2e2e;
    border-radius: 15px;
    opacity: 0.7;

    &:hover {
        cursor: pointer;
        border: 1px solid #3b3b3b;
        opacity: 1;
    }

    &.active {
        color: #FFFFFF;
        background-color: #3b3b3b;
        /* background-color: #0f163b; */
        opacity: 1;
    }
}

/* 운동이름 */
.mn-container .contentWrap .contTitle {
    height: 100px;
    font-size: 30px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    /* color: #ff6600; */
}

/* 운동이미지 */
.mn-container .contentWrap .contImg {
    width: 100%;
    max-height: 75%;
}

.mn-container .contentWrap .exPart {
    margin: auto;
    width: 40%;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    border-bottom: 2px solid #03dac6;
}

/* 운동설명 */
.mn-container .contentWrap .contText {
    height: 55px;
    padding: 10px;
    color: #c9c9c9;
}


/* ExDetail.js */
/* description 전체컨테이너 */
.dc-container {
    width: 95%;
    padding: 10px 50px 10px 50px;
    color: white;

    display: flex;
    flex-direction: column;
}

.dc-container h1 {
    color: #366cff;
}

/* 운동 방법 이미지 */
.dc-container .dcImg {
    margin: 0 auto;
    margin-bottom: 75px;

    max-width: 50%;
    max-height: 50%;
    border-radius: 20px;
}

/* 운동 간단설명 */
.dc-container .dcText {
    padding: 25px;
    color: hsl(39, 75%, 73%);
    line-height: 180%;
    font-size: 20px;
    opacity: 0.2;

    &.textAnime {
        animation-name: textAnime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes textAnime {
    0% {
        opacity: 0.2;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
    }
    }

/* 글 간격 */
/* 운동이름 */
.dc-container h1 {
    margin-bottom: 50px;
    font-size: 36px;
}

/* 상세 제목 */
.dc-container h2 {
    margin-bottom: 50px;
    font-size: 28px;
}

/* 텍스트 컨테이너 */
.dc-container div {
    margin-bottom: 50px;
}

/* 상세 텍스트 */
.dc-container p {
    margin-bottom: 25px;
    font-size: 18px;
    color: #B0B0B0;
}


/* 모달 버튼 컨테이너*/
.mn-container .btnContainer {
    /* width: 200px; */
    /* margin: auto; */
    margin-bottom: 50px;
    /* justify-content: center; */
}

/* 모달 버튼 */
.mn-container .btnContainer button {
    width: 100px;
    height: 50px;

    font-size: 30px;

    color: red;
}