* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 배경 */
.background {
    width: 100vw;
    height: 100vh;
    position: fixed;

    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모달 컨테이너 */
.background .modal-container {
    width: 450px;
    height: 550px;
    padding: 10px;
    background-color: #ffffff;

    display: flex;
    flex-flow: column wrap;
    position: relative;
}

/* 이전,다음날로 이동 */
.background .modal-container .changeDay {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid green;

    &.left {
        left: 0px;
    }

    &.right {
        right: 0px;
    }

    &:hover {
        cursor: pointer;
        background-color: #bdbdbd;
    }
}

/* 제목 */
.background .modal-container .modalTitle {
    height: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

/* 텍스트 내용 */
.background .modal-container .modalText {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #464646;
}