.modal-overlay {
    position: absolute;
    top: 200;
    left: 200;
    width: 500px;
    height: 500px;
    background-color: rgba(253, 252, 252, 1);  /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;  /* 모달이 다른 요소 위에 오도록 */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}