* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* 헤더를 고정 */
    top: 0;   /* 화면 상단 */
    left: 0;  /* 화면 왼쪽 */
    right: 0; /* 화면 오른쪽 */
    z-index: 5; /* 헤더 부분이 화면에서 맨 위에 위치하도록 설정 */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    width: auto;
}

.side-navlink{
    position: relative;
    font-size: 1.4rem !important;  /* 글자 크기 */
    /* 부트스트랩 링크때문에 important 안하면 상위스타일이 덮어 씌워져서 스타일 적용 안됨*/
    padding: 15px !important; /* 글자간의 간격 */
    color: #A09A9A !important; /* 글자 색상 */
    text-decoration: none;
    z-index: 20;
}

.side-navlink:hover {
    color: white !important;
}


